
.h1
{
    margin-left: 20px;
    font-family: 'Montserrat',serif;
}

.chat-window
{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-left: auto;
    height: 80vh;
    border: 1px solid #ccc;
    width: 100%;
}
.head
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loginpage
{
  align-self: center;
}
.input-area {
    position: relative;      
    width: 50%;           
    align-self: center;
  
}
.input {
    width: 100%;            
    height: 40px;
    padding: 5px 90px 5px 15px; 
    border: 1px solid rgb(46, 46, 46);
    border-radius: 50px;
    background-color: #fff;
    box-sizing: border-box;    
    font-size: 14px;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
  
}
.button {
    position: absolute;
    right: 10px;             
    top: 50%;
    transform: translateY(-50%); 
    height: 30px;
    padding: 0 15px;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover:not(:disabled) {
    background-color: gray;
    color: #fff;
    opacity: 0.8;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: all 0.2s ease-in-out;
}

.messages
{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
  
}
.messages p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.chatmessage
{
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: #E2F0FF;
    border-radius: 10px;
    display: inline-block;
    max-width: 50%;
    border: 1px solid rgb(182, 182, 182);
   
}
.usermessage
{
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-color: #DCF8C6;
    border-radius: 10px;
    align-self: end;
    max-width: 70%;
    justify-content: end;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid rgb(182, 182, 182);
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.row1
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.gotologinpage
{
    align-self: center;
    padding: 10px;
    margin-right: 10px;
     background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.gotologinpage:hover
{
    background-color: gray;
    transition: all 0.2s ease-in-out;
}
.gotosignpage
{
    align-self: center;
    padding: 10px;
    margin-right: 10px;
     background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.gotosignpage:hover
{
    background-color: gray;
    transition: all 0.2s ease-in-out;
}
.copyright
{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',serif;
    margin-right: 20px;
}
.warning
{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',serif;
    margin-right: 20px;
    text-align: center;
}